.tf-embed-wrapper{
  background-color: #bae0e6;
  padding: 10px;
  overflow: hidden;
  color: #72a985;
  text-align: center;
  height: 60px;
  border: 1px solid #73bec8;

  ::before{
    width: 26px;
    height: 30px;
    content: '';
    display: inline-block;
    margin-right: 10px;
    background: url('../images/attention.png') no-repeat left center/26px auto;
  }

  a {
    border: 0;
    display: block;
    text-decoration: none;
    text-align: left;
  }

  .tf-content {
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
  }

  &____info {
    display: inline-block;
    font-size: 11px;
    color: #444;
  }

  &__label {
    font-weight: bold;
  }
}
