@import 'mixins';
@import 'editor-button';

$active: #0084bc;

.mce-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @import 'banner';

  code {
    font-family: monospace;
  }

  @include placeholder() {
    color: #bbb;
  }

  .typeform-embed-app {
    width: 600px;
    height: 420px;
    margin: -20px;
    overflow: auto;

    * {
      box-sizing: border-box;
    }

    &.loading {
      background: url('../images/spinner.gif') center center no-repeat;
    }
  }

  .tf-embed {
    display: flex;
    width: 100%;
    height: 100%;

    &__form {
      flex: 1;
      overflow: auto;
      padding: 20px;
    }

    &__description {
      white-space: normal;
      margin-bottom: 1em;
      font-weight: 500;
      padding: 0 .5em;
    }

    &__banner {
      flex: 0 0 180px;
    }

    &__fieldset {
      border: 1px solid #eee;
      border-radius: 4px;
      padding: .75em;
      box-shadow: 0 1px 4px rgba(#000, .05);
      margin: 0 0 1em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__legend {
      padding: 0 .5em;
      text-transform: uppercase;
      font-size: .8em;
      color: #999;
    }

    &__tab-buttons {
      text-align: center;
      margin: 0 0 1.5em;
    }

    &__tab-button {
      padding: .65em 1em;
      background: #eee;
      font-size: .9em;
      font-weight: 500;
      cursor: pointer;

      &:active {
        background: #ddd;
        text-shadow: 0 1px rgba(#fff, .5);
        transition: background .2s ease;
      }

      &.is-active {
        background: $active;
        color: #fff;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }

    &__tab {
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    &__disclaimer {
      white-space: normal;
      line-height: 1.5;
      margin: 20px -20px -20px;
      padding: 20px;
      background: #e5f3f5;
    }
  }

  .tf-form-group {
    display: flex;
    align-items: center;
    margin-bottom: .5em;

    &__label {
      min-width: 6em;
      padding-right: .75em;
      vertical-align: middle;
      text-align: right;
    }

    &__input {
      flex: 1;
      padding: .4em .6em;
      transition: all .25s ease;
    }

    &__description {
      display: block;
      font-size: .85em;
      margin: 0 0 1em;
      white-space: normal;
      line-height: 1.5;
      color: #999;
    }

    &__option-wrap {
      flex: 1;
      display: flex;
      min-height: 1.9em;
      align-items: center;
    }

    &__option {
      flex: 1;
    }
  }

  .embed-options {
    &__type {
      display: flex;
      justify-content: space-around;
      padding: .75em 0 .25em;
    }

    &__customise {
      margin-top: 1em;
    }
  }

  .embed-option {
    display: inline-block;
    cursor: pointer;

    &.is-active {
      .embed-option__button {
        border-color: $active;
        background-color: rgba($active, .05);
      }
      .embed-option__label {
        color: $active;
      }
    }

    &__button {
      position: relative;
      border: 1px solid #ddd;
      box-shadow: 0 1px 2px rgba(#000, .1);
      border-radius: 4px;
      padding: 1em;
      transition: all .25s ease;

      &:hover {
        border-color: $active;
      }
    }

    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &__label {
      text-align: center;
      margin-top: .75em;
      font-size: .75em;
      text-transform: uppercase;
    }
  }
}
